<!DOCTYPE html>
<html>

<head>
	<title>Home Page</title>
	
	<style type="text/css" media="screen">
		body {
			background-color: skyblue;
			text-decoration-color: white;
		
		}
	</style>
</head>

<body>
	<center>
		<p style="font-size: 35px;font-family:tahoma;margin-top: 200px">Email Verification Successfully.Please Login Your Account</p>

       <p><a href="http://localhost:3000/">Click here to login</a></p>
	</center>
</body>

</html>
